.section {
    padding: 94px 0;
}

.section-heading {
    font-weight: 700;
    font-size: $section-heading-font;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.2;
    margin-bottom: 50px;
}