.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about {
    display: flex;

    &-item {
            width: 270px;

        &:not(:last-child) {
                margin-right: 30px;
            }
    }

    &-heading {
        font-weight: bold;
        letter-spacing: 0.03em;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    &-details {
        letter-spacing: 0.03em;
        color: $secondary-text-color;
        line-height: 1.7;
    }

    &-icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        background: $section-background-color;
        border-radius: 4px;
        margin-bottom: 30px;
    }
}










